<div class="admin-links">
    <%= link_to 'Create new Document', new_document_path %>
    <%= link_to 'Add Category', new_category_path %>
    <%= link_to 'Add Language', new_language_path %>
    <%= link_to 'View all Users', users_path %>
</div>