<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label :content, 'Add comment' %><br />
    <%= f.text_field :content %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Edit comment" %>
  </div>
<% end %>